[submodule "bat/catppuccin"]
	path = bat/catppuccin
	url = https://github.com/catppuccin/bat
[submodule "hyprland/catppuccin"]
	path = hyprland/catppuccin
	url = https://github.com/catppuccin/hyprland
[submodule "mako/catppuccin"]
	path = mako/catppuccin
	url = https://github.com/catppuccin/mako
