@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrains Mono";
}

window#waybar {
    background: @base;
    color: @text;
    font-size: 12px;
}

label.module {
    padding: 0 6px 0;
    margin: 0 1px;
    text-shadow: 0px 1px 4px @base;
}

@keyframes blink {
    to {
        background-color: @overlay2;
        color: @crust;
    }
}

#clock, #workspaces button {
    font-weight: bold;
}

#tray {
    margin-left: 8px;
}

#workspaces * {
    font-size: 14px;
}

#workspaces button {
    padding: 0 4px 0;
    background: transparent;
    border-top: 0px solid transparent;
    color: @overlay0;
    opacity: 1.0;
}

#workspaces button.empty {
    opacity: 0.9;
}

#workspaces button.special {
    color: @red;
}

#workspaces button.active {
    color: @text;
    opacity: 1.0;
}

#network.disconnected {
    color: @red;
}

#idle_inhibitor.activated {
    background-color: @overlay2;
    color: @crust;
}
